---
pagination:
  data: collections.episodes
  size: 1
  alias: episode
permalink: 'embed/{{ episode.data.guid }}/index.html'
layout: embed
---

<div class="embed-container container">
    <div class="embed-meta">
        <div class="image">
            <img src="{{ podcast.imageEmbed }}" alt="{{ episode.data.title }}">
        </div>
        <div>
            <h2><a href="/{{ episode.data.episodeNumber }}">{{ episode.data.title }}</a></h2>
            <p class="date"><strong><a href="/">{{ podcast.title }}</strong></a> &bull; {{ episode.data.published | dateForEpisode }}</p>
        </div>
    </div>

    <div>
        <p>Listen on <a href="https://podcasts.apple.com/de/podcast/zero-build-zone/id1836629531" target="_blank">Apple Podcasts</a> or <a href="https://open.spotify.com/show/0FeiXvpvohjxcl2NGdxYIO?si=5b1d9af201c64c61" target="_blank">Spotify</a></p>
    </div>
</div>
