---
title: Zero Build Zone
layout: base
---

{%- for episode in collections.episodes %}
    <div class="container">
        <h2>{{ episode.data.title }}</h2>
        <p class="date">{{ episode.data.published | dateForEpisode }} / {{ episode.data.duration }}</p>
        <p>{{ episode.data.summary }}</p>
    </div>
{% endfor %}
