---
permalink: "/feed.xml"
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" 
    xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" 
    xmlns:content="http://purl.org/rss/1.0/modules/content/"
    xmlns:atom="http://www.w3.org/2005/Atom"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:podcast="https://podcastindex.org/namespace/1.0">
  <channel>
    <generator>Eleventy</generator>
    <title>{{ podcast.title }}</title>
    <description>{{ podcast.description }}</description>
    <copyright>&copy; 2025 {{ podcast.author }}</copyright>
    <language>{{ podcast.language or 'en' }}</language>
    <pubDate>{{ collections.episodes | collectionLastUpdatedDate }}</pubDate>
    <lastBuildDate>{{ collections.episodes | collectionLastUpdatedDate }}</lastBuildDate>
    <atom:link href="{{ podcast.feedPath }}" rel="self" type="application/rss+xml"/>
    <webMaster>{{ podcast.webMaster }}</webMaster>
    <managingEditor>{{ podcast.managingEditor }}</managingEditor>
    <ttl>{{ podcast.ttl or '1440' }}</ttl>
    <podcast:guid>{{ podcast.podcastGuid }}</podcast:guid>
    <podcast:locked>{{ podcast.locked or 'yes' }}</podcast:locked>
    <image>
        <link>{{ podcast.url }}</link>
        <title>{{ podcast.title }}</title>
        <url>{{ podcast.image }}</url>
    </image>
    <link>{{ podcast.url }}</link>
    <itunes:type>episodic</itunes:type>
    <itunes:summary>{{ podcast.description }}</itunes:summary>
    <itunes:author>{{ podcast.author }}</itunes:author>
    <itunes:explicit>no</itunes:explicit>
    <itunes:image href="{{ podcast.image }}"/>
    <itunes:new-feed-url>{{ podcast.feedPath }}</itunes:new-feed-url>
    <itunes:keywords>{{ podcast.keywords }}</itunes:keywords>
    <itunes:owner>
        <itunes:name>{{ podcast.owner.name }}</itunes:name>
        <itunes:email>{{ podcast.owner.email }}</itunes:email>
    </itunes:owner>
    <itunes:category text="Leisure">
        <itunes:category text="Video Games"/>
    </itunes:category>
    <itunes:applepodcastsverify>26f05c10-5044-11f0-b7ac-37b1c324c77d</itunes:applepodcastsverify>
    <docs>https://www.rssboard.org/rss-specification</docs>
    {%- for episode in collections.episodes %}
        <item>
            <guid isPermaLink="false">{{ episode.data.guid }}</guid>
            <title>{{ episode.data.title | xmlEscape }}</title>
            <description><![CDATA[ {{ episode.templateContent | safe }} ]]></description>
            <pubDate>{{ episode.data.published }}</pubDate>
            <author>{{ podcast.author }}</author>
            <link>{{ podcast.url}}{{ episode.url }}</link>
            <content:encoded><![CDATA[ {{ episode.templateContent | safe }} ]]></content:encoded>
            <enclosure length="{{ episode.data.length }}" type="audio/mpeg" url="{{ episode.data.audioUrl }}"/>
            <itunes:title>{{ episode.data.title }}</itunes:title>
            <itunes:author>{{ podcast.author }}</itunes:author>
            <itunes:duration>{{ episode.data.duration }}</itunes:duration>
            <itunes:summary>{{ episode.data.summary }}</itunes:summary>
            <itunes:subtitle>{{ episode.data.summary }}</itunes:subtitle>
            <itunes:explicit>no</itunes:explicit>
            <itunes:episodeType>full</itunes:episodeType>
            <itunes:episode>{{ episode.data.episodeNumber }}</itunes:episode>
            {%- if episode.data.season %}<itunes:season>{{ episode.data.season }}</itunes:season>{% endif %}
            {%- if episode.data.episodeImage %}<itunes:image href="{{ episode.data.episodeImage }}"/>{% endif %}
            <podcast:episode>{{ episode.data.episodeNumber }}</podcast:episode>
            {%- if episode.data.season %}<podcast:season>{{ episode.data.season }}</podcast:season>{% endif %}
        </item>
    {% endfor %}
  </channel>
</rss>
