---
title: Zero Build Zone
layout: base
---

{% set episodeList = collections.episodes | limit(5) %}

{%- for episode in episodeList %}
    <div class="container">
        <h2>{{ episode.data.title }}</h2>
        <p class="date">{{ episode.data.published | dateForEpisode }} / {{ episode.data.duration }}</p>
        {% if loop.index === 1 %}
            {{ episode.templateContent | safe }}
        {% else %}
            <p>{{ episode.data.summary }}</p>
        {% endif %}
    </div>
{% endfor %}


<div class="pagination">
    <div>Newer Episodes</div>
    <div><a href="/episodes/page-2">Older Episodes</a></div>
</div>
